body
  background-color whitesmoke

*:focus
  outline none

.content
  .mdl-layout__header
    background-color #263238

  .mdl-spinner
    margin 0 auto

.mdl-navigation__link--icon>.material-icons
  margin-right 8px
  margin-top 8px

.page-content
  max-width 1200px
  width 100%
  margin 0 auto
  padding 0

.item-card
  &.mdl-card
    width 100%
    min-height inherit
    cursor pointer
